@use "../node_modules/@fullstacked/ui/values/spacing.scss" as s;
@use "../node_modules/@fullstacked/ui/values/colors.scss" as c;

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
    html,
    body {
        background-color: #9cd1ec;
    }
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        background-color: #081233;
    }
}

html,
body {
    background-image: linear-gradient(#081233, #1e293b);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: s.$large;
    justify-content: space-between;
    width: 100%;
    padding: 3px;
    margin: 0;
}

html {
    &.light,
    &.light body {
        background-image: linear-gradient(to top, #fafbfb 0%, #9cd1ec 100%);
        color: c.$dark;
    }
}

body {
    min-height: calc(100vh - 6px);
}

svg {
    height: 24px;
    width: 24px;
}

nav {
    display: flex;
    gap: s.$medium;
    padding-bottom: s.$medium;
}

img {
    height: 100px;
    width: 100px;
}

h1 {
    padding: s.$small 0 s.$medium;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

main {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

p {
    padding-bottom: s.$small;
}

#theme-switch {
    display: flex;
    align-items: center;
    gap: 10px;
}

#counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 24px;
    }
}
